head {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;

}


.nav-link {
    margin-top: 30px;
    margin-left: 50px;
}

.imageSwatch {
    background: url(images/pepsi.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(120vh - 90px);
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 5vh;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-brand:hover{
    cursor: pointer;
}


.navnav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.Pepsi h1 {
    color: white;
    font-size: 70px;
    padding-top: 750px;


}


.Discovery {
    background-color: rgba(27, 142, 52, 0.801);
    color: white;
    border-radius: 50px;
    margin-left: 115px;
    padding: 5px 15px;
}

.Discovery:hover {
    background-color: white;
    color: rgba(27, 142, 52, 0.801);

}

.Descrption h1 {
    letter-spacing: .08em;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    color: grey;
}

.Descrption p {

    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    color: grey;

}

.Gallery {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.images {
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}

.images:hover {
    transform: translatey(-20px);
}

.card {
    display: flex;
    flex-direction: column;

}

.card-title {
    cursor: pointer;
    display: flex;
    justify-content: center;
}



.Text h2 {
    display: flex;
    font-size: 13px;
    margin-top: 120px;
    color: rgba(27, 142, 52, 0.801);
}

.Configuration {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Configuration h1 {
    letter-spacing: .02em;
    margin-top: 50px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    color: grey;
}

.Configuration p {
    letter-spacing: .02em;
    font-size: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: grey;
}

.Configuring {
    margin-top: 15px;
    background-color: rgba(27, 142, 52, 0.801);
    color: white;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 50px;
    margin-bottom: 40px;
}


.button-configuration {
    display: flex;
    justify-content: center;
    align-items: center;
}


.Configuring:hover {
    background-color: white;
    color: rgba(27, 142, 52, 0.801);
}




.Text h3 {
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-top: 120px;
    color: rgba(27, 142, 52, 0.801);
    text-decoration: underline;

}

.Locator {

    background: url(images/BoutiqueRolex.jpg) center center no-repeat;
    background-size: cover;
    width: auto;
    height: 700px;

}

.StoreLocator {
    background-color: rgba(27, 142, 52, 0.801);
    color: white;
    border-radius: 50px;
    padding: 10px 15px;

}

.StoreLocator:hover {
    background-color: white;
    color: rgba(27, 142, 52, 0.801);
}

.Locator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.Locator h4 {
    text-shadow: grey -4px 4px;
    color: white;

    font-size: 50px;
}


.NewModels h1 {
    align-items: center;
    text-align: center;
    margin-bottom: 90px;
    text-decoration: underline silver;
    color: rgba(27, 142, 52, 0.801);
    cursor: pointer;
}

.MoreImages {
    transition: 0.5s all ease-in-out;
    align-items: center;
    width: 100%;
    height: auto;
    cursor: pointer;
}


.MoreImages:hover {
    transform: translatey(-20px);
}


.Share {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 50px;
    padding: 10px 15px;


}


.Footer {
    display: inline-block;
    flex-direction: row;
    margin-top: 40px;
    background: rgb(36, 35, 35);
    width: 100%;
    height: 617px;


}

.Langage {
    display: flex;
    flex-direction: row;
    background-color: rgb(36, 35, 35);

}

.btn-link-Langage {
    border: none;
    background: transparent;
    color: rgb(211, 208, 208);
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    margin-left: 30px;



}

.btn-link-Langage:hover {
    color: rgba(27, 142, 52, 0.801)
}


.Accesibillity {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: -27px;
}



.btn-link-Access {

    border: none;
    background: transparent;
    color: rgb(211, 208, 208);
    font-size: 15px;
    height: 40px;
    top: 30px;

}


.btn-link-Rolex:hover {
    text-decoration: underline;
}



.btn-link-Access:hover {
    color: rgba(27, 142, 52, 0.801)
}


.Menu h2 {
    margin-top: 20px;
    text-decoration: underline;
    color: rgb(211, 208, 208);
    text-align: center;
    font-size: 25px;
}

.btn-link-Rolex {
    color: rgb(211, 208, 208);
    background: transparent;
    border: none;
    text-align: center;
}


.First-Menu {
    margin-top: 25px;
    color: rgb(211, 208, 208);
    display: flex;
    text-align: center;
    flex-direction: column;


}

.Second-Menu {
    margin-top: 45px;
    color: rgb(211, 208, 208);
    display: flex;
    text-align: center;
    flex-direction: column;
}



.btn-link-Collection {
    color: rgb(211, 208, 208);
    background: transparent;
    border: none;
    text-align: center;
}



.btn-link-Collection:hover {
    color: rgba(27, 142, 52, 0.801)
}


.Copyright {
    margin-top: 25px;
    color: rgb(211, 208, 208);
    display: flex;
    flex-direction: row;
}

.Copyright p {

    color: rgb(211, 208, 208);
}

.btn-link-site {
    margin-top: -13px;
    border: none;
    background: transparent;
    color: rgb(211, 208, 208);

}

.btn-link-site:hover {
    color: rgba(27, 142, 52, 0.801);
}